.fps-counter {
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    -unity-text-align: upper-right;
    width: 8%;
    height: 4%;
}

:root {
}
